@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-gradient-primary: 171 230 238;
    --color-gradient-secondary: 112 210 240;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
